flow.json
[{"id":"b04b9a65.4e3738","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"34c55d2d.1ae012","type":"inject","z":"b04b9a65.4e3738","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["7058432d.de67ec"]]},{"id":"d40bd77.9327d28","type":"debug","z":"b04b9a65.4e3738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":240,"wires":[]},{"id":"7058432d.de67ec","type":"change","z":"b04b9a65.4e3738","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hogehoge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["d40bd77.9327d28"]]}]